{# PitchBundle/Resources/views/Default/index.html.twig #}

{% extends "PitchBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block pitch_body %}

    <section class="row post_page_sidebar post_page_sidebar1">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 post_page_uploads">
                    <div class="author_details post_details row m0">
                        <div class="embed-responsive embed-responsive-16by9">
                            {% if pitch.url %}
                                <iframe class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/{{ pitch.url }}"></iframe>
                            {% endif %}
                        </div>
                        <div class="row post_title_n_view">
                            <h2 class="col-sm-8 post_title">{{ pitch.title }}</h2>

                            <h2 class="col-sm-4 view_count">{{ pitch.views }}
                                <small>View</small>
                            </h2>
                        </div>
                        <div class="media bio_section">
                            <div class="media-left about_social">
                                <div class="row m0 section_row author_section widget widget_recommended_to_follow">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ path('fos_user_profile_show_name', {'username': pitch.user.username}) }}">
                                                <img src="{{ gravatar(pitch.user.email) }}" class="circle"/>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="{{ path('fos_user_profile_show_name', {'username': pitch.user.username}) }}">
                                                <h5>{{ pitch.user.username }}</h5>
                                            </a>

                                            <div class="btn-group">
                                                <a href="#" class="btn follower_count">34</a>
                                                <a href="#" class="btn follow">follow</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m0 social_section section_row">
                                    <h5>Réseaux sociaux :</h5>
                                    <ul class="list-inline">
                                        <li><a href="#"><img src="{{ asset('images/icons/social/1.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/2.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/3.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/9.jpg') }}" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row m0 about_section section_row single_video_info">
                                    <dl class="dl-horizontal">
                                        <dt>Publication:</dt>
                                        <dd>{{ pitch.createdAt | localizeddate('medium', 'none') }}</dd>

                                        <dt>Categorie:</dt>
                                        <dd>{{ pitch.category.title }}</dd>

                                        <!--<dt>Video License</dt>
                                        <dd>Standard License</dd>

                                        <dt>Imported From:</dt>
                                        <dd>Youtube</dd>-->
                                    </dl>
                                </div>
                            </div>
                            <div class="media-body author_desc_by_author">
                                {{ pitch.description }}
                            </div>
                        </div>
                    </div>
                    <div class="row m0 comments">
                        <h5 class="comment_count">
                            {% set count = pitch.comments | length %}
                            {% transchoice count %}
                            {0} %count% Commentaire:| [2,Inf] %count% Commentaires:
                            {% endtranschoice %}
                        </h5>
                        <br>

                        {% for comment in pitch.comments %}
                            {% include 'PitchBundle:Default:comment.html.twig' with {'comment': comment} %}
                        {% endfor %}
                    </div>
                    {% if app.user %}
                        {{ render(controller('PitchBundle:Front:commentAdd', {'pitch': pitch})) }}
                    {% else %}
                        <div class="col-sm-10 sidebar sidebar2">
                            <h5 id="reply" class="text-uppercase text-strong">
                                <a href="{{ path('fos_user_security_login') }}" class="text-strong underline">Connectez-vous</a>
                                ou
                                <a href="{{ path('fos_user_registration_register') }}" class="text-strong underline">créez
                                    un compte</a>
                                pour participer.
                            </h5>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-3 sidebar sidebar2">
                    <div class="row m0 sidebar_row_inner">
                        <!--Search Form
                        <form action="#" role="search" class="search_form row m0 widget widget_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here">
                            <span class="input-group-addon"><button type="submit">
                                    <img src="{{ asset('images/icons/search.png') }}" alt=""></button>
                            </span>
                            </div>
                        </form>-->
                        <!--Sponsored Area-->
                        <div class="row m0 widget widget_sponsored_area">
                            <h5 class="widget_title">Envie de lancer votre startup</h5>

                            <div class="row m0 inner">
                                <div class="row m0 advertise_betweeen_uploads">
                                    <div class="inner row m0">
                                        <h3>Advertise<br>Here</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--More From the Author-->
                        {% if more_pitches is not empty %}
                            <div class="row m0 widget widget_popular_videos">
                                <h5 class="widget_title">Autres vidéos du pitcher</h5>

                                <div class="row m0 inner">
                                    {% for pitch in more_pitches %}
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="{{ path('pitch_details', {'slug': pitch.slug}) }}">
                                                    <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/popular/1.jpg"
                                                         alt="">
                                                    <span class="duration">17:30</span>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="{{ path('pitch_details', {'slug': pitch.slug}) }}">
                                                    <h5>{{ pitch.title }}</h5>
                                                </a>

                                                <div class="row m0 meta_info views">{{ pitch.views }} views</div>
                                                <div class="row m0 meta_info posted">{{ pitch.createdAt | time_diff | trans }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!--Recommended for You-->
                        <div class="row m0 widget widget_popular_videos">
                            <h5 class="widget_title">Pitches qui peuvent t'intéresser</h5>

                            <div class="row m0 inner">
                                <!-- details pitches sur la droite -->
                                {% for pitch in all_pitches | slice(0,3) %}
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ path('pitch_details', {'slug': pitch.slug}) }}">
                                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/popular/4.jpg"
                                                     alt="">
                                                <span class="duration">1:03</span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="{{ path('pitch_details', {'slug': pitch.slug}) }}">
                                                <h5>{{ pitch.title }}</h5>
                                            </a>

                                            <div class="row m0 meta_info views">{{ pitch.views }} vues</div>
                                            <div class="row m0 meta_info posted">{{ pitch.createdAt | localizeddate('medium', 'none') }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- fin details pitches -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}