<article class="col-sm-4 video_post">
    <div class="inner row m0">
        <a href="{{ path('pitch_details', {'slug': pitch.slug}) }}">
            <div class="row screencast m0">
                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/9.jpg" alt=""
                     class="cast img-responsive">

                <div class="play_btn"></div>
                <div class="media-length">17:30</div>
            </div>
        </a>

        <div class="row m0 post_data">
            <div class="row m0"><a href="{{ path('pitch_details', {'slug': pitch.slug}) }}" class="post_title">
                    {{ pitch.title }}
                </a>
            </div>
            <div class="row m0">
                <div class="fleft author">by <a
                            href="{{ path('fos_user_profile_show_name', {'username': pitch.user.username}) }}">{{ pitch.user.username }}</a>
                </div>
                <div class="fleft date">{{ pitch.createdAt | date('d/m/Y') }}</div>
            </div>
        </div>
        <div class="row m0 taxonomy">
            <div class="fleft category">
                <a href="{{ path('category', {'slug': pitch.category.slug}) }}">
                    <img src="{{ asset('images/icons/cat.png') }}" alt="">
                    {{ pitch.category.title }}
                </a>
            </div>
            <div class="fright views">
                <a href="#"><img src="{{ asset('images/icons/views.png') }}" alt="">{{ pitch.views }}</a>
            </div>
        </div>
    </div>
</article>