{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <section class="row post_page_sidebar post_page_sidebar1">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 post_page_uploads">
                    <div class="author_details row m0">
                        <div class="author_cover row m0">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/author/cover.jpg" alt="">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 author_photo_name">
                                <img src="{{ gravatar(user.email,100) }}" class="img-thumbnail img-circle"/>

                                <h3>{{ user.username }}</h3>
                            </div>
                            <div class="col-sm-6 follow_n_count">
                                <div class="btn-group">
                                    <a href="#" class="btn follower_count">34,000</a>
                                    <a href="#" class="btn follow">follow</a>
                                </div>
                            </div>
                        </div>
                        <div class="media bio_section">
                            <div class="media-left about_social">
                                <div class="row m0 about_section section_row">
                                    <h4>À propos de moi</h4>
                                    <dl class="dl-horizontal">
                                        <dt>Identité:</dt>
                                        <dd>{{ user.username }}</dd>

                                        <dt>Pitcher depuis:</dt>
                                        <dd>{{ user.createdAt | localizeddate('medium', 'none') }}</dd>
                                        <dt>Total Pitchs:</dt>
                                        <dd>{{ user.pitchs | length }}</dd>

                                        <dt>Total Vues:</dt>
                                        <dd>{{ views }}</dd>
                                    </dl>
                                </div>
                                <div class="row m0 social_section section_row">
                                    <h5>Originalement voici mes réseaux sociaux</h5>
                                    <ul class="list-inline">
                                        <li><a href="#"><img src="{{ asset('images/icons/social/1.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/2.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/3.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/4.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/5.jpg') }}" alt=""></a>
                                        </li>
                                        <li><a href="#"><img src="{{ asset('images/icons/social/6.jpg') }}" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="media-body author_desc_by_author">
                                {{ user.description }}
                            </div>
                        </div>
                    </div>
                    <div class="row title_row">
                        <h3>Pitchs de {{ user.username }}</h3>
                    </div>
                    <div class="row">
                        {% for pitch in pitchs %}
                            {% include 'PitchBundle:Default:pitch_thumb_sm_4.html.twig' with {'pitch': pitch} %}
                        {% endfor %}
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(pitchs) }}
                    </div>
                </div>
                <div class="col-sm-3 sidebar sidebar2">
                    <div class="row m0 sidebar_row_inner">
                        <!--Search Form-->
                        <form action="#" role="search" class="search_form row m0 widget widget_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here">
                                <span class="input-group-addon"><button type="submit">
                                        <img src="images/icons/search.png"
                                             alt=""></button></span>
                            </div>
                        </form>
                        <!--Sponsored Area-->
                        <div class="row m0 widget widget_sponsored_area">
                            <h5 class="widget_title">sponsored area</h5>

                            <div class="row m0 inner">
                                <div class="row m0 advertise_betweeen_uploads">
                                    <div class="inner row m0">
                                        <h3>Advertise<br>Here</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Recommended to Follow-->
                        <div class="row m0 widget widget_recommended_to_follow">
                            <h5 class="widget_title">recommended to follow</h5>

                            <div class="row m0 inner">
                                <div class="media">
                                    <div class="media-left"><a href="page-author.html"><img
                                                    src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/1.jpg"
                                                    alt="" class="circle"></a></div>
                                    <div class="media-body media-middle">
                                        <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>

                                        <div class="btn-group">
                                            <a href="#" class="btn follower_count">34,000</a>
                                            <a href="#" class="btn follow">follow</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left"><a href="page-author.html"><img
                                                    src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/2.jpg"
                                                    alt="" class="circle"></a></div>
                                    <div class="media-body media-middle">
                                        <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>

                                        <div class="btn-group">
                                            <a href="#" class="btn follower_count">34,000</a>
                                            <a href="#" class="btn follow">follow</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left"><a href="page-author.html"><img
                                                    src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/3.jpg"
                                                    alt="" class="circle"></a></div>
                                    <div class="media-body media-middle">
                                        <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>

                                        <div class="btn-group">
                                            <a href="#" class="btn follower_count">34,000</a>
                                            <a href="#" class="btn follow">follow</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left"><a href="page-author.html"><img
                                                    src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/4.jpg"
                                                    alt="" class="circle"></a></div>
                                    <div class="media-body media-middle">
                                        <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>

                                        <div class="btn-group">
                                            <a href="#" class="btn follower_count">34,000</a>
                                            <a href="#" class="btn follow">follow</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
